.Menu-item {
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 4px;
  color: var(--text-color);
  transition: background-color ease-in-out 200ms;
  &.active {
    color: var(--primary);
    .active-icon {
      display: flex;
      align-items: center;
    }
    .icon {
      display: none;
    }
  }
  &:hover {
    background: rgba(22, 24, 35, 0.03);
  }
}
.Menu-title {
  padding-left: 8px;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 24px;
}
.icon {
  width: 32px;
  height: 32px;
}
.active-icon {
  display: none;
}
